<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @especialidade.nome %>
</p>

<%= link_to 'Edit', edit_especialidade_path(@especialidade) %> |
<%= link_to 'Back', especialidades_path %>
