<div class="nested-fields well well-compact form-inline">
	<%=  f.input :id, :as => :hidden %>
	<%= f.association :especialidade, 
		label_method: :nome, 
		:label => "Grupo", 
		:input_html => {}
	%>
    <%= link_to_remove_association button_tag('x', type: "button", class: "close"), f %>
</div>