<h1>Cadastro de Veiculos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th> 
      <th Opções></th>
    </tr>
  </thead>

  <tbody>
    <% @veiculos.each do |veiculo| %>
      <tr>
        <td><%= veiculo.nome %></td>
        <td><%= link_to 'Editar', edit_veiculo_path(veiculo), class: "btn btn-primary btn-xs" %>
        <%= link_to 'Excluir', veiculo, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza que deseja excluir ?' }
         %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inserir Veículo', new_veiculo_path, class: "btn btn-primary" %>
